<%= render 'navigation' %>

  <br><br><br><br>
<%= render 'layouts/messages' %>

    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12 col-md-3">
                <% if @user.picture_file_name.nil? %>
                <div style="width:150px;height:150px;" class="thumbnail">
                    <i class="fa fa-user fa-picture"></i>
                </div>
                <% else %>
                <%= image_tag @user.picture.url(:small), :class => "img-circle img-responsive img-center" %>
                <% end %>
            </div>

            <div class="col-lg-12">
                <h1 class="page-header"><%= @user.fullname %>'s rooms<br>
                    <small>It's Nice to Meet You!</small><br><br>
                </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
            </div>
        </div>

        <!-- Rooms Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Available rooms</h2>
            </div>
            <% @rooms.each do |room| %>
            <div class="col-lg-4 col-sm-6 text-center">
                <% if can? :read, room %>
                <%= link_to image_tag("http://placehold.it/200x200", :border => 0, :class => "img-circle img-responsive img-center"), '/landing/'+room.id.to_s %>
                <h3><%= link_to room.name, '/landing/'+room.id.to_s %><br>
                <% else %>
                <img src="http://placehold.it/200x200" class="img-circle img-responsive img-center" alt="Show" >
                <h3><%= room.name %><br>
                <% end %>
                    <small>Job Title</small>
                </h3>
                <p><%= (room.description.length > 96)? room.description[0,96]+'...': room.description %></p>
            </div>
            <% end %>

        </div>

        <hr>
        <div class="row">
            <% if @recordingsArray.any? %>
            <div id="div_recordings">
              <h3>Recordings</h3><br>
              <table id="recordings" class="table table-responsive">
                <thead>
                  <tr>
                    <th><!--Recording--></th>
                    <th>Room</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Duration</th>
                    <% if can? :manage_recording, @room %>
                    <th>Actions</th>
                    <% else %>
                    <th></th>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                <% iterator = 0 %>
                <% @recordingsArray.each do |recordings| %>
                    <% recordings.each do |recording| %>
                      <tr id="recording_<%= recording[:recordID] %>">
                        <td>
                        <div id="recording_playback_<%= recording[:recordID] %>" class="<% if !recording[:published] %>hide<% end %>">
                        <% if recording[:playback][:format].kind_of?(Array) %>
                            <% recording[:playback][:format].each do |playback| %>
                                <%= link_to playback[:url], id: "recording_"+playback[:type], :name => "recording_"+playback[:type], :title => "Playback "+playback[:type], :target => "_blank", class: "btn btn-default bt-sm" do %>
                                    <i class="fa fa-play-circle-o icon-large" aria-hidden="true"></i>
                                    <span style="font-size:small;" class="text-capitalize"><%= playback[:type] %></span>
                                <% end %>
                            <% end %>
                        <% else %>
                          <%= link_to recording[:playback][:format][:url], id: "recording_"+recording[:playback][:format][:type], :name => "recording_"+recording[:playback][:format][:type], :title => "Playback "+recording[:playback][:format][:type], :target => "_blank", class: "btn btn-default bt-sm" do %>
                              <i class="fa fa-play-circle-o icon-large" aria-hidden="true"></i>
                              <span style="font-size:small;" class="text-capitalize"><%= recording[:playback][:format][:type] %></span>
                          <% end %>
                        <% end %>
                        </div>
                        </td>
                        <td style="vertical-align: middle !important;"><%= recording[:name] %></td>
                        <td style="vertical-align: middle !important;"><%= recording[:metadata][:description]? recording[:metadata][:description]: 'none' %></td>
                        <td style="vertical-align: middle !important;"><%= recording[:startTime].in_time_zone %></td>
                        <td style="vertical-align: middle !important;"><%= to_duration(recording[:endTime].to_i - recording[:startTime].to_i).to_s %></td>
                        <% if can? :manage_recording, @room %>
                        <td style="vertical-align: middle !important;">
                            <span class="recording_action" data-id="<%= recording[:recordID] %>" data-action="<%= recording_status_change(recording) %>" data-url="<%= bbb_recording_publish_path(@roomsIdArray[iterator]) %>"></span>
                            <span class="recording_action" data-id="<%= recording[:recordID] %>" data-action="delete" data-url="<%= bbb_recording_delete_path(@roomsIdArray[iterator]) %>"></span>
                        </td>
                        <% else %>
                        <td style="vertical-align: middle !important;"></td>
                        <% end %>
                      </tr>
                    <% end %>
                    <% iterator = iterator + 1 %>
                <% end %>
                </tbody>
              </table>
            </div>
            <% end %>
        </div>
<script>
$(document).ready(function($) {
    initRecordingActions ();
    <% if !@recordings.nil? %>
        <% if @recordings.any? %>
        $('#recordings').dataTable ({
            sPaginationType : "full_numbers",
            "columns": [
                null,
                null,
                null,
                null,
                null,
               { "width": "76px" }
            ]
        });
        <% end %>
    <% end %>
});
</script>
