<div id="logo">
    <table>
        <tr>
            <td align=center><%= image_tag image_path('logo.png'), :class => "", :style => 'border:#fff solid 1px;' %></td>
        </tr>
        <tr>
            <td><p>&nbsp;&nbsp;<%= @user.fullname %> Web Conference Server</p></td>
        </tr>
    </table>
</div>
<div id="content">
    <br />
    <br />
    <table cellpadding="5" cellspacing="5" style="width: 600px;">
        <tbody>
            <%= form_tag({:action => 'room'}, :method => 'get', :id => 'form_enter') do %>
            <% if !user_signed_in? %>
            <tr>
                <td>&nbsp;</td>
                <td style="text-align: right;">Full&nbsp;Name:</td>
                <td>&nbsp;</td>
                <td style="text-align: left"><%= text_field_tag 'username' %></td>
            </tr>
            <% end %>
            <tr>
                <td>&nbsp;</td>
                <td style="text-align: right;">Room:</td>
                <td>&nbsp;</td>
                <td style="text-align: left">
                    <%= select_tag 'room_id', options_from_collection_for_select(@rooms, :id, :name) %>
                </td>
            </tr>
            <% if flash[:error] %>
                <tr>
                    <td>&nbsp;</td>
                    <td></td>
                    <td>&nbsp;</td>
                    <td><span class="error"><%= flash[:error] %></span>
                </tr>
            <% end %>
            <tr>
                <td>&nbsp;</td>
                <td style="text-align: right;"><% if !user_signed_in? %>Password:<% end %></td>
                <td>&nbsp;</td>
                <td><% if !user_signed_in? %><%= text_field_tag 'password' %>&nbsp;&nbsp;<%end%>
                <%= submit_tag "join", name: "join" %></td>
            </tr>
            <% end %>
        </tbody>
    </table>

    <h2 style=" padding-left:8px; padding-top:5px;"> How-To Videos: </h2>
    <br/>

    <table>
        <tr>
            <td valign="top"  class="tutorials"><a title="Viewer" href="http://www.youtube.com/watch?v=LS2lttmPi6A" target=_blank><%= image_tag image_path('upload_slides.png'), :class => "", :style => 'border:#fff solid 1px;', :width =>"92", :height => "90" %></a></td>
            <td valign="top" class="tutorials"><a title="Moderator/Presenter" href="http://www.youtube.com/watch?v=PHTZvbL1NT4" target=_blank><%= image_tag image_path('join.png'), :class => "", :style => 'border:#fff solid 1px;', :width =>"92", :height => "90" %></a></td>
        </tr>
        <tr>
            <td valign="top" class="tutorials" align=center><p class="small">Viewer</p></td>
            <td valign="top" class="tutorials" align=center><p class="small">Moderator/Presenter</p></td>
        </tr>
    </table>
    <br/>
    <hr/>
    <small>
        <p>This conference server was built using <a href="http://bigbluebutton.org">BigBlueButton</a>, an open source web conferencing platform for on-line learning.</p>
        <br/>
    </small>
</div>
