<%= render 'navigation' %>

  <header class="intro-header">
    <div class="container">&nbsp;</div>
  </header>

  <div class="panel-body">

  <% if @room != nil %>
    <% if cannot? :read, @room %>
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Heads up!</strong> You need to sign in for using this room.
    </div>
    <% else %>
    <div id="room" data-url="<%= bbb_room_status_path(@room) %>" >
      <div id="room_top_bar">
        <%= link_to '', '#', id: "room_refresh", :name => "room_refresh", :title => 'Refresh', class: "btn btn-default glyphicon glyphicon-refresh pull-left" %>
      </div><br>
      <div id="room_info">
        <h1><%= @room[:name] %></h1>
        <h3><%= @room[:description] %></h3>
      </div><br>
      <div id="room_status">
        <div id="room_status_general" class="alert alert-info" role="alert"></div>
        <div id="room_status_current"></div>
      </div><br>
      <div id="room_actionbar">
      <% if can? :use, @room %>
        <span id="room_enter" data-url="<%= bbb_room_enter_path(@room) %>"></span>
      <% end %>
      <% if can? :close, @room %>
        <span id="room_close" data-url="<%= bbb_room_close_path(@room) %>"></span>
      <% end %>
      </div><br>
    </div>
    <% end %>
    <% if !user_signed_in? %>
    <% #Add html code for the floating joining form (where the user inputs a user name and password) %>
    <% end %>
  <% end %>

  </div>

<script>
$(document).ready(function($) {
    initButtonRoomRefresh ();
    initButtonRoomEnter ();
    initButtonRoomClose ();
    refreshRoom ();
});
</script>
