<%= form_for @room do |f| %>

  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@room.errors.count, "error") %> prohibited
        this room from being saved:
      </h2>
      <ul>
        <% @room.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="form-group input-group col-lg-5 field">
      <%= f.label :name %><br>
      <%= f.text_field :name, :class => "form-control" %>
    </div>

    <div class="form-group input-group col-lg-7 field">
      <%= f.label :description %><br>
      <%= f.text_area :description, :class => "form-control" %>
    </div>

    <div class="form-group input-group field">
      <%= f.check_box :recording %>&nbsp;
      <b>Recording<b><br>
    </div>

    <div class="action">
      <%= f.submit :class => 'btn btn-primary' %>&nbsp;<%= link_to 'Cancel', rooms_path, class: "btn btn-default" %>
    </div>
  </fieldset>

<% end %>
<br><br>