      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Available rooms
          </div>
          <!-- /.panel-heading -->
            <div class="panel-body">
              <%= link_to 'New room', new_room_path, class: "btn" %>
              <div class="table-responsive table-bordered">
                <table id="rooms" class="table">
                  <thead>
                    <tr>
                      <% if @user.has_role? :admin %>
                      <th>Owner</th>
                      <% else %>
                      <th></th>
                      <% end %>
                      <th>Room Name</th>
                      <th>Description</th>
                      <th>Moderator password</th>
                      <th>Viewer password</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  <% @rooms.each do |room| %>
                    <tr>
                      <td>
                      <% if @user.has_role? :admin %>
                        <%= link_to room.owner.to_s, "/"+room.owner.username, :title => 'Show landing page' %>
                      <% end %>
                      </td>
                      <td><%= room.name %></td>
                      <td><%= room.description %></td>
                      <td><%= room.moderator_password %></td>
                      <td><%= room.viewer_password %></td>
                      <td>
                        <%= link_to '', room_path(room), :title => 'View', class: "btn btn-default glyphicon glyphicon-file" %>
                        <%= link_to '', edit_room_path(room), :title => 'Edit', class: "btn btn-default glyphicon glyphicon-edit" %>
                        <% #link_to '', '#', :title => 'Hide', class: "btn btn-default glyphicon glyphicon-eye-open" %>
                        <%= link_to '', room_path(room), :method => :delete, :title => 'Delete', :class => "btn btn-default glyphicon glyphicon-trash", :data => { confirm: 'Are you sure?' } %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->

<script>
$(document).ready(function($) {
    $('#rooms').dataTable ({
        sPaginationType : "full_numbers",
        "columns": [
            null,
            null,
            null,
            null,
            null,
           { "width": "114px" }
        ]
    });
});
</script>
