  <% if @room != nil %>
    <% if cannot? :read, @room %>
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Heads up!</strong> You need to sign in for using this room.
    </div>
    <% else %>
    <div id="room" data-url="<%= bbb_room_status_path(@room) %>" >
      <div id="room_top_bar">
        <%= link_to '', '#', id: "room_refresh", :name => "room_refresh", :title => 'Refresh', class: "btn btn-default glyphicon glyphicon-refresh pull-left" %>
        <%= link_to '', edit_room_path(@room), id: "room_edit", :name => "room_edit", :title => 'Edit', class: "btn btn-default glyphicon glyphicon-edit pull-right" %>
      </div><br>
      <div id="room_info">
        <h1><%= @room[:name] %></h1>
        <h3><%= @room[:description] %></h3>
      </div><br>
      <div id="room_status">
        <div id="room_status_general" class="alert alert-info" role="alert"></div>
        <div id="room_status_current"></div>
      </div><br>
      <div id="room_actionbar">
      <% if can? :use, @room %>
        <span id="room_enter" data-url="<%= bbb_room_enter_path(@room) %>"></span>
      <% end %>
      <% if can? :close, @room %>
        <span id="room_close" data-url="<%= bbb_room_close_path(@room) %>"></span>
      <% end %>
      </div><br>
    </div>
    <% end %>
    <% if @recordings.any? %>
    <div id="div_recordings">
      <h3>Recordings</h3><br>
      <table id="recordings" class="table">
        <thead>
          <tr>
            <th>Recording</th>
            <th>Activity</th>
            <th>Description</th>
            <th>Date</th>
            <th>Duration</th>
            <% if can? :manage_recording, @room %>
            <th>Actions</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
        <% @recordings.each do |recording| %>
          <tr id="recording_<%= recording[:recordID] %>">
            <td>
            <div id="recording_playback_<%= recording[:recordID] %>" class="<% if !recording[:published] %>hide<% end %>">
            <% if recording[:playback][:format].kind_of?(Array) %>
            <% recording[:playback][:format].each do |playback| %>
              <%= link_to playback[:type], playback[:url], id: "recording_"+playback[:type], :name => "recording_"+playback[:type], :title => "Playback "+playback[:type], class: "", :target => "_blank" %>
            <% end %>
            <% else %>
              <%= link_to recording[:playback][:format][:type], recording[:playback][:format][:url], id: "recording_"+recording[:playback][:format][:type], :name => "recording_"+recording[:playback][:format][:type], :title => "Playback "+recording[:playback][:format][:type], class: "", :target => "_blank" %>
            <% end %>
            </div>
            </td>
            <td><%= recording[:name] %></td>
            <td><%= recording[:metadata][:description]? recording[:metadata][:description]: 'none' %></td>
            <td><%= recording[:startTime].in_time_zone %></td>
            <td><%= to_duration(recording[:endTime].to_i - recording[:startTime].to_i).to_s %></td>
            <% if can? :manage_recording, @room %>
            <td>
              <span class="recording_action" data-id="<%= recording[:recordID] %>" data-action="<%= recording_status_change(recording) %>" data-url="<%= bbb_recording_publish_path(@room[:id]) %>"></span>
              <span class="recording_action" data-id="<%= recording[:recordID] %>" data-action="delete" data-url="<%= bbb_recording_delete_path(@room[:id]) %>"></span>
            </td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <% end %>
  <% end %>

<script>
$(document).ready(function($) {
    initButtonRoomRefresh ();
    initButtonRoomEnter ();
    initButtonRoomClose ();
    initRecordingActions ();
    refreshRoom ();
    <% if @recordings.any? %>
    $('#recordings').dataTable ({
        sPaginationType : "full_numbers"
    });
    <% end %>
});
</script>
