<!DOCTYPE html>
<html>
<head>
<%= render 'layouts/head' %>
</head>
<body>

  <div id="wrapper">

    <!-- Navigation -->
<%= render 'layouts/backend_navigation' %>

    <div id="page-wrapper">
<%= render 'layouts/messages' %>

      <% if params[:controller] != 'users' || (params[:action] != 'show' && params[:action] != 'me') %>
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header"><%= t('backend.'+params[:controller]) %></h1>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <% end %>

<%= yield %>

    </div>
    <!-- /#page-wrapper -->


  </div>
  <!-- /#wrapper -->

</body>
</html>